/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #FFF;
$foreground-color: #53565A;
$head-search-color: #F6F6F6;
/* Components */
