/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

/* body {
  background: #FFF;
  color: #53565A;
  font-family: 'Roboto', arial, serif;
  font-size: 16px;
  //background: url(../images/design/taking_notes.png) no-repeat right 218px;
  @media  screen and (max-width: 950px) {
    background-position: center 218px;
    background-size: 100% auto;
  }
  @media screen and (max-width: 540px) {
    background-position: center 318px;
  }
} */